<% provide :meta_title, @member.name %>
<% add_decidim_page_title @member.name %>
<% add_decidim_meta_tags(
  image_url: @member.avatar.url,
  description: @member.name,
) %>

<main class="wrapper">
  <div class="row column">
    <h1 class="heading1 page-title"><%= @member.name %></h1>
  </div>

  <div class="row">
    <div class="columns large-4">
      <%= image_tag @member.avatar.url %>
    </div>

    <div class="columns large-8">
      <%= render partial: 'decidim/members/user_profile_bottom', locals: { user: @member } %>
    </div>
  </div>
</main>

